body{
    color: rgb(255, 255, 255);
    background-color: darkblue;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}

#circle{
    display: block;
}

.maindiv{
    padding: 10px;
    background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), rgb(0,0,255));
    height: auto;
    width: auto;
    max-width: 450px;
    min-height: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(51, 31, 2);;
    height: auto;
    width: auto;
    max-width: 450px;
    min-height: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(51, 31, 2);;
    height: auto;
    width: auto;
    max-width: 450px;
    min-height: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(51, 31, 2);;
    height: auto;
    width: auto;
    max-width: 450px;
    min-height: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(51, 31, 2);;
}

button, select{
    margin-left: 13px;
    padding: 10px;
    border-radius: 10px;
    background: -webkit-linear-gradient(45deg, rgb(0, 0, 255), rgb(255,255,255));
    color: white;
}


#answer{
    font-size: 30px;
}

input{
    padding: 10px;
    border-radius: 10px;
}

hr{
    background-color: white;
}

#Credits{
    font-size: 0.5em;
    color: white;
}